* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "abstract/fonts.scss";
@import "abstract/vars.scss";
@import "abstract/mixins.scss";

@import "components/subscribe.scss";

@import "layout/header.scss";
@import "layout/home.scss";
@import "layout/footer.scss";
