.subscription-block {
    width: 70vw;
    margin: 0 auto;
    padding: 4rem;
    border-bottom: 1px solid $devideLineColor;

    & .subscription {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;

        & .subscription-title {
            text-transform: uppercase;
            @include font($titleFont, 2rem, $mainTextColor);
        }

        & .subscription-description {
            @include font($contentFont, 1rem, $secondaryTextColor);
            line-height: 1.5rem;
            margin-top: 2rem;
            text-align: center;
        }

        & .subscription-actions {
            width: 100%;
            display: flex;
            margin-top: 2rem;

           
        }
    }
}

 .action-button {
                text-transform: capitalize;
                padding: 1rem 3rem;
                @include font($titleFont, 1.4rem, $mainTextColor);
                text-decoration: none;
                border: 2px solid black;
                flex-grow: 1;
                text-align: center;
                transition: all 0.3s ease;

                &:nth-child(2) {
                    margin-left: 4rem;
                }

                &:hover {
                    background-color: $mainTextColor;
                    color: white;
                }
            }