.footer {
    width: 70vw;
    

  & .interactive-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    & .subscriptForm {

        display: flex;
        position: relative;
        flex-grow: 1;

        & .email-label {
            display: flex;
            flex-direction: column;
            text-transform: capitalize;
            @include font($titleFont, 1.5rem, $mainTextColor);
            width: 100%;
            margin-top: 1rem;

            & .subscriptEmail-input {
                outline: none;
                margin-top: 2rem;
                font-size: 1rem;
                padding: 0.5rem;
                border: none;
                border-bottom: 2px solid black;
                width: 100%;
            }
        }

        & .submit-button {

            font-size: 1rem;
            @include font($contentFont, 1rem, $mainTextColor);
            text-transform: uppercase;            
            position: absolute;
            top: 74px;
            right: 0;
            border: none;
            transition: all 0.3s ease;
            background-color: white;

            & .button-title {
                z-index: 2;
                transition: all 0.3s ease;
                position: relative;
                width: 100%;
                height: 100%;
                padding: 0.5rem 1.5rem;

                &::before {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 0;
                    z-index: -100; 
                    transition: all 0.3s ease;
                }
        }

            &:hover {
                cursor: pointer;
                
                & .button-title {
                    color: white;

                    &::before {
                        background-color: $mainTextColor;   
                        height: 100%;                                         
                    }
                }
            }
        }
    }

    & #categories-3 {
        list-style: none;
        flex-grow: 1;
        margin-left: 10vw;

        & .widgettitle {
            display: none;
        }

        & ul {
            @include flex(row, space-between, center);

            & .cat-item {
                padding: 20px;
                list-style: none;

                &  a {
                    text-transform: uppercase;
                    text-decoration: none;
                    @include font($titleFont, 1rem, $mainTextColor);
                    pointer-events: none;
                }

                & .children {
                    @include flex(column, space-between, flex-end);
                    

                    & .cat-item {
                        padding: 0;
                        margin-top: 15px;
                        transition: all 0.3s ease;
                        position: relative;

                        & a {
                            text-transform: capitalize;
                            @include font($contentFont, 1rem, $secondaryTextColor);
                        }

                        &::before, &::after {
                            position: absolute;
                            content: '';
                            width: 100%;
                            height: 2px;
                            top: 130%;
                            left: 0;
                            transition: all 0.3s ease;
                        }

                        &::before {
                            background-color: black;
                        }

                        &::after {
                            background-color: white;
                        }

                        &:hover {
                            cursor: pointer;

                            &::after {
                                width: 0;
                            }
                        }

                    }
                }
            }
        }
    }
  }

  & .useless-info-block {
      @include flex(row, space-between, center);
      margin-top: 2rem;

      & a {
          pointer-events: none;
      }

      & .info {
          list-style: none;
          @include flex(row, space-between, center);

          &-item {
              padding: 2rem;
              @include font($contentFont, 1rem, $secondaryTextColor);
              text-transform: capitalize;
          }
      }
  }
}
