.main-posts {
  width: 70vw;
  display: grid;
  grid-template-areas:
    "first second"
    "first third";
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 30px auto 0;
  gap: 1vw 3vw;

  & .post {
    &:nth-of-type(1) {
      grid-area: first;
      width: 100%;
      padding-right: 3vw;
      border-right: 1px solid $devideLineColor;

      & .post-data {
        @include font($contentFont, 1.3rem, $secondaryTextColor);
        font-size: 1.3rem;

        & .post-author {
          @include font($contentFont, 1rem, $mainTextColor);
        }
      }

      & .post-title {
        @include font($titleFont, 2.4rem, $mainTextColor);

        & ~ p {
          @include font($contentFont, 1.5rem, $secondaryTextColor);
        }
      }
    }

    &:nth-of-type(2) {
      grid-area: second;
      width: 100%;
    }

    &:nth-of-type(3) {
      grid-area: third;
      width: 100%;
    }
  }
}

.post-data {
  @include flex(row, space-between, center);
  @include font($contentFont, 1rem, $secondaryTextColor);
  margin-top: 0.5rem;

  & .post-date {
    opacity: 0.5;

    & .time-to-read {
      position: relative;
      margin-left: 30px;

      &::before {
        content: "";
        position: absolute;
        background-color: black;
        width: 2px;
        height: 2px;
        border-radius: 50%;
        top: 45%;
        left: -30%;
      }
    }
  }

  & .post-author {
    text-transform: uppercase;
    position: relative;
    @include font($contentFont, 0.8rem, $mainTextColor);

    &::before {
      position: absolute;
      content: "";
      width: 50%;
      height: 1px;
      top: 50%;
      left: -80%;
      background-color: black;
    }
  }
}

.post-image {
  & img {
    width: 100%;
    height: auto;
  }
}

.post-title {
  text-transform: capitalize;
  @include font($titleFont, 1.3rem, $mainTextColor);
  margin-top: 1rem;

  & ~ p {
    @include font($contentFont, 1rem, $secondaryTextColor);
    margin-top: 1rem;
  }
}


